html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
	overflow: auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body{
  background: rgba(0,0,0,0.01);
  background-attachment: fixed;/*o Background é travado*/
  overflow-x: hidden;/*remove a barra de rolagem horizontal*/
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
